<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="General Settings">
    <setting type="sep"/>
<!--       <setting label="30023" type="labelenum" values="IMDb|themoviedb.org" id="titlesource" default="IMDb"/>
 -->  <setting label="Language for MovieDB requests" type="select" values="bg|cs|da|de|el|en|es|fi|fr|he|hr|hu|it|ja|ko|nl|no|pl|pt|ru|sl|sv|tr|zh" id="LanguageID" default="en"/>
      <setting label="TMDB Username" type="text" id="tmdb_username" />
      <setting label="TMDB Password" type="text" id="tmdb_password" option="hidden"/>
      <setting label="Debug Mode" type="bool" id="debug_mode"/>
      <setting type="sep"/>
  </category>
</settings>
